#nav-test{
    border: 1px solid black;
    border-radius: 90px;
    width: 50%; 
    margin: auto;
    margin-top: 1%;
}
.btn-shape{
    /* border-radius: 90px; */
    /* padding: 5%; */
    margin: 0.5rem;
    justify-content: space-evenly;
}
@media (max-width:750px){
    #nav-test{
        width: 100%;
    }
}